@page
@model MyApp.Namespace.AboutModel

@{
    //sidans titrl
    ViewData["Title"] = "Om mig";


}

<div class="welcome">
    <h1>Om mig</h1>
    <p>
Det har varit roligt att skapa denna webbsida med ASP.NET och Razor. Då jag under tidigare kursen "C# programmering", 
gjorde just webbaserat applikation med MVC så hade jag faktiskt testat på detta förut och även använt Razor syntax. 
<br><br>
Jag ser framemot att läsa denna kurs med .NET för att lära mig mer om det. 
Det känns också väldigt skönt att detta är en av de sista kurserna jag läser innan det är dax för examensarbete.
 Mitt examensarbete kommer jag att göra på CSN i Sundsvall med fokus inom UX, vilket jag ser väldigt mycket framemot!<br><br>



</p>

</div>
