@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
  ViewData["Page"] = "Index";

}

<div class="welcome">


    <h1>Välkommen</h1>
    <p>
Välkommen till min Moment 1.1 Webbplats!

Här på min webbplats har jag utforskat och tillämpat olika begrepp och tekniker inom ASP.net Core. Syftet med denna uppgift var att skapa en grundläggande webbplats med hjälp av Razor Pages, förstå och använda Razor-syntaxen för dynamiskt innehåll. <br><br>

Undersidor:
Startsida:
Här hittar du valfri information som ger dig en första inblick i min webbplats.

Razor:
Utforska denna sida där innehållet genereras dynamiskt med hjälp av Razor-syntax. En lista över de kurser jag läst i programmet presenteras i ett snyggt format. Du kommer också att se dagens datum och klockslag samt en meddelande som berättar om det är måndag eller inte.

Om Sidan:
Här delar jag information om mig, skaparen av denna webbplats. Ta en titt för att lära känna mig lite bättre!

</p>
    <p>Källkod: <a href="https://learn.microsoft.com/aspnet/core">github </a>.</p>
</div>
